<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="styleesheet" href="{% static 'css/estilos.css'}">
    <title>Document</title>
</head>
<body>
    <h1> Pagina Inicial</h1>
    <h2> {{curso}} </h2>
    <table>
        <thead>
            <tr>
                <th> Produto </th>
                <th> Preco </th>
            </tr>
            <tbody>
                {% for produto in produto %}
                {% load static %}
                <tr>
                    <img src="{% static 'images/download.jpeg' %}"/>
                    <td><a href="{% url 'produtos' produto.id %}">{{ produto.nome }}</a></td>
                    <td><a href="">{{ produto.preco }}</a></td>
                    
                </tr>
                {% endfor %}
            </tbody>
        </thead>    
    </table>
    <buttom onclick="teste();">Clique Aqui</buttom>
    <script type="text/javascript" src="{% static 'js/scripts.js'%}"></script>
</body>
</html>