<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <Table>
        <thead>
            <tr>
                <th>Produto</th>
                <th>Preco</th>
                <th>Estoque</th>
            </tr>
            <tbody>
                <td><a href="{% url 'index' %}">{{produto.nome}}</a></td>
                <td>{{produto.preco}}</td>
                <td>{{produto.estoque}}</td>
            </tbody>
        </thead>
    </Table>
</body>
</html>